[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/golang"]
	path = vim/bundle/golang
	url = git://github.com/jnwhiteh/vim-golang.git
[submodule "vim/bundle/ctrlp"]
	path = vim/bundle/ctrlp
	url = git://github.com/kien/ctrlp.vim.git
[submodule "vim/bundle/vim-tomorrow-theme"]
	path = vim/bundle/vim-tomorrow-theme
	url = git://github.com/chriskempson/vim-tomorrow-theme.git
[submodule "vim/bundle/vim-color-solarized"]
	path = vim/bundle/vim-color-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "vim/bundle/vim-godef"]
	path = vim/bundle/vim-godef
	url = git@github.com:dgryski/vim-godef.git
[submodule "vim/bundle/vim-gocode"]
	path = vim/bundle/vim-gocode
	url = git@github.com:Blackrush/vim-gocode.git
[submodule "vim/bundle/supertab"]
	path = vim/bundle/supertab
	url = git@github.com:ervandew/supertab.git
[submodule "vim/bundle/vim-surround"]
	path = vim/bundle/vim-surround
	url = git@github.com:tpope/vim-surround.git
[submodule "vim/bundle/csv"]
	path = vim/bundle/csv
	url = git@github.com:chrisbra/csv.vim.git
